@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.cart-badge {
    position: absolute;
    border-radius: 50%;
    background: #a435f0;
    padding: 8px;
    height: 23px;
    width: 23px;
    color: #fff;
    top: -10px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-badge-animate {
    animation: pop 0.3s ease;
}